extends layout

block content
  .container
    .row
      .col-md-4.offset-md-4.text-center.p-5
        img(class="img-fluid" src="/images/logo.png", alt="")
        br
        br
        button(class="btn btn-primary mb-2" id="getNewData") Get new data
        br
        select(class="form-control" type="text", id="countries")
        hr
    .row
      .col-md-12.text-center
        canvas(id="corona" width="600" height="200")
