doctype html
html
  head
    title= title
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/Chart.min.js")
    script(src="/javascripts/app.js")
